/* here is goes main-menu class*/
.main-menu ul li {
    display: inline;
    font-family: Gabriola, sans;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

/* here is css code for header menu*/
.main-menu {
    z-index: 999;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    background-color: rgb(207, 186, 202);
}

/* here goes the main menu a  */
.main-menu a {
    color: inherit;
    text-decoration: none;
    padding-right: 30px;
    font-style: oblique;
}

#navbarNav .active {
    transform: scale(1.1);
    font-weight: bold;
}

/* nav */
nav {
    padding: 3rem;
}

/* here goes the contact details css */
.contact-details {
    font-family: Gabriola, sans;
    font-size: 24px;
    line-height: 24px;
}

/* map */
#map {
    height: 300px;
}

/* vs-btn */
.vs-btn {
    float: right;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* vertical-align: middle; */
}

/* here goes the footer css code*/
footer {
    background-color: rgb(207, 186, 202);
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: block;
    font-size: 15px;
    font-style: oblique;
}

/* here goes the bg-image */
.bg-image {
    background-image: url('/static/media/homepage-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    /* Add padding as needed */
    color: #fff;
    /* Set the color of text inside the section */
    height: 85vh;
}

/* Here goes the class for treatments-image */
.treatments-image {
    background-image: url('/static/media/treatments-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    /* Add padding as needed */
    color: #fff;
    /* Set the color of text inside the section */
    height: 85vh;
}

/* title-heading-center section */
.title-heading-center {
    text-align: center;
    color: #00002B;
}

/* treatments-image table */
.treatments-image table {
    margin: auto;
    color: #00002B;
    font-family: "Copperplate", fantasy;
    line-height: 43px;
}

.background-booking {

    font-size: 20px;
}

/* background-auth */
.background-auth {
    background-color: #E5E8E8;

}

/* media */
@media screen and (min-width: 834.6px) and (max-width: 992px) {
    .row {
        width: 100%;
        margin: auto auto;
    }

}