{% extends "base.html" %}
{% block content %}
<div class="container mx-0 px-0">
    <div class="row">
        <div id="add-booking-section" class="col-8 offset-2 mt-5 background-booking">
            <h3>Add a booking</h3>
            <form method="POST" action="/book-a-treatment/add/">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <p>
                        <a href="/book-a-treatment" class="btn">Cancel</a>
                        <button type="submit" class="btn">Add Appointment</button>
                    </p>
                </div>
            </form>
            {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <strong>Oops! There was an error:</strong>
                <ul>
                    {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}