{% extends "base.html" %} {% block content %}

<div class="container mx-0 px-0">
    <div class="row">
        <div class="col-4 offset-4 mt-5 background-booking">
            <h1>Add a booking</h1>
            <form method="POST" action="add">
                {% csrf_token %}
                {{form}}
                <div>
                    <p>
                        <button type="submit">Add Appointment</button> 
                    </p>
                </div>
            </form>

        </div>
    </div>
</div>