{% extends "base.html" %}
{% block content %}
<div class="container-fluid mx-0 px-0 brick-bg">
    <div class="row">
        <div id="add-booking-section" class="ccol-md-8 offset-md-2 col-xxl-6 offset-xxl-3 mt-5 background-booking">
            <h3>Edit an Appointment</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <p>
                        <a href="/book-a-treatment" class="btn">Cancel</a>
                        <button type="submit" class="btn">Edit</button>
                    </p>
                </div>
            </form>
            {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <strong>Oops! There was an error:</strong>
                <ul>
                    {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}