{% extends "base.html" %} {% block content %}

<div class="container mx-0 px-0">
    <div class="row">
        <div class="col-md-8 offset-md-4 mt-5 background-booking">

            {% if not user.is_authenticated %}
            Please <a href="/accounts/login">sign in</a> in order to make a booking!
            {% else %}
            {% if bookings|length == 0 %}
            <h3>No bookings found. Please make an appointment</h3>

            {% else %}
            <h3>Upcoming Appointments</h3>
            <div class="book-a-treatment">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Treatment</th>
                            <th>Staff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.treatment }}</td>
                            <td>{{ booking.staff }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="/book-a-treatment/add">
                <div class="btn">Create new Appointment</div>
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}