{% extends "base.html" %} {% block content %}

<div class="container-fluid mx-0 px-0 brick-bg">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 background-booking">
            {% if not user.is_authenticated %}
            <p class="my-5">
                Please <a href="/accounts/login">sign in</a> in order to make a booking!
            </p>
            {% else %}
            {% if bookings|length == 0 %}
            <h3>No bookings found. Please make an appointment</h3>

            {% else %}
            <h3>Upcoming Appointments</h3>
            <div class="book-a-treatment">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Treatment</th>
                            <th>Staff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.treatment }}</td>
                            <td>{{ booking.staff }}</td>
                            <td>
                                <a href="{% url 'edit-booking' booking.id %}" class="btn btn-warning btn-sm">
                                    <i class="fas fa-edit"></i> Update
                                </a>
                                <a href="{% url 'delete-booking' booking.id %}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <a href="/book-a-treatment/add" class="btn">Create new Appointment</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}