{% extends "base.html" %} {% block content %}
<div class="container-fluid brick-bg">
    <div class="row py-5">
        <div class="col-12 col-md-6 details">
            <h2><b>About us</b></h2>
            <div>
                Welcome to Nails art! <br>
                A relaxing and stylish nails Studio. We offer an
                extensive range of nails treatments designed to fit you. Open every day, we carry the finest nails
                products. Unwind as our friendly and experienced team of professionals take care of all your nails
                needs.
                <br>
                Come and visit us at Nails Art and experience the magic!
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="/static/media/place-of-treatments.jpg" class="img-fluid" alt="place of Treatments">
        </div>
    </div>
</div>


{% endblock %}