{% extends "base.html" %} {% block content %}
<!-- container-fluid goes here for book a treatment page-->
<div class="container mx-0 px-0">
    <div class="row">
        <div class="col-4 offset-4 mt-5 background-booking">

            {% if not user.is_authenticated %}
            <p>
                Please <a href="/accounts/login">sign in</a> in order to make a booking!
            </p>
            {% else %}
            <h3>Book a treatment</h3>
            <div class="book-a-treatment">
                Book a treatment
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}