{% extends "base.html" %} {% block content %}
<div class="container-fluid brick-bg">
    <div class="row py-5">
        <div class="col-12 col-lg-6 details">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1><b>Contact details</b></h1>
                    <h2><b>Address</b></h2>
                    <div>
                        <span> Grafton street</span>
                    </div>
                    <div>
                        <span>co. Dublin</span>
                    </div>
                    <div>
                        <span>Ireland</span>
                    </div>
                    <h2><b>Phone</b></h2>
                    <p>0123456789</p>
                    <h2><b>Email</b></h2>
                    <p>info@nailsart.com</p>
                </div>
                <div class="col-12 col-lg-6">
                    <span>
                        <h2><b>Opening hours</b></h2>
                        Monday - Friday: 9:30am-8:00pm
                        <br>
                        Saturday: 9:00am - 5:00pm
                        <br>
                        Sunday & Bank Holidays: 12:00pm - 5:00pm
                    </span>
                </div>
            </div>
        </div>
        <div id="map" class="col-12 col-md-6">
            <h1>Google maps</h1>
        </div>
    </div>

    {% endblock %}