{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- container-fluid goes here -->
<div class="container-fluid">
    <div class="row bg-image">
        <div class="col-4 offset-4 mt-12 homepage_content">
            <div id="fade_cont">
                <div class="row">
                    <!-- Content for the section goes here -->
                    <p class="h1-size">Welcome to Nails Art!</p>
                    <p>“It is not just nails art. It is an ART.”.</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}