{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row treatments-image">
        <div class="col-12 col-md-6 col-xl-3">
            <table>
                <h3 class="title-heading-center">
                    <strong>Shellac</strong>
                </h3>
                {% for treatment in shellac %}
                <tr>
                    <td>{{ treatment.name }}</td>
                    <td>{{ treatment.price }} €</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <table>
                <h3 class="title-heading-center">
                    <strong> Gel nails </strong>
                </h3>
                {% for treatment in gel_nails %}
                <tr>
                    <td>{{ treatment.name }}</td>
                    <td>{{ treatment.price }} €</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <table>
                <h3 class="title-heading-center">
                    <strong> Manicure </strong>
                </h3>
                {% for treatment in manicure %}
                <tr>
                    <td>{{ treatment.name }}</td>
                    <td>{{ treatment.price }} €</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <table>
                <h3 class="title-heading-center">
                    <strong> Pedicure </strong>
                </h3>
                {% for treatment in pedicure %}
                <tr>
                    <td>{{ treatment.name }}</td>
                    <td>{{ treatment.price }} €</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}