{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row treatments-image">
        <div class="col-4 offset-4">
            <table>
                <h3 class="title-heading-center">
                    <strong> Shellac </strong>
                </h3>
                <tr>
                    <td>Shellac Manicure (new set)</td>
                    <td>25 €</td>
                </tr>
                <tr>
                    <td>Shellac Manicure (removal + new set)</td>
                    <td>28 €</td>
                </tr>
                <tr>
                    <td>Shellac Pedicure (new set)</td>
                    <td>30 €</td>
                </tr>
                <tr>
                    <td>Shellac Pedicure (removal + new set)</td>
                    <td>35 €</td>
                </tr>
                <tr>
                    <td>Shellac Manicure & Pedicure (removal)</td>
                    <td>12 €</td>
                </tr>
            </table>
            <table>
                <h3 class="title-heading-center">
                    <strong> Shellac </strong>
                </h3>
                <tr>
                    <td>Shellac Manicure (new set)</td>
                    <td>25 €</td>
                </tr>
                <tr>
                    <td>Shellac Manicure (removal + new set)</td>
                    <td>28 €</td>
                </tr>
                <tr>
                    <td>Shellac Pedicure (new set)</td>
                    <td>30 €</td>
                </tr>
                <tr>
                    <td>Shellac Pedicure (removal + new set)</td>
                    <td>35 €</td>
                </tr>
                <tr>
                    <td>Shellac Manicure & Pedicure (removal)</td>
                    <td>12 €</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}